footer {
    visibility: hidden;
}

div.css-1j15ncu.e10aic0r2 {
    src: url(Go-vegan-\images\34-watermelon-with-maracas.gif)
    
}

span.css-10trblm.eqr7zpz0 {
    font-family: Fantasy, papyrus;

}

div.st-au.st-ax.st-av.st-aw.st-bf.st-bh.st-b8.st-b3.st-b4.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq.st-br.st-b1.st-bs.st-bt.st-d7.st-d8.st-d9.st-da.st-by {
    border-radius: 3px;
}